.mt-5
  = form_for @flashcard do |f|
    - if @flashcard.errors.any?
      #error_explanation
        %h2= "#{pluralize(@flashcard.errors.count, "error")} prohibited this flashcard from being saved:"
        %ul
          - @flashcard.errors.full_messages.each do |message|
            %li= message
    .form-group
      = f.label :word
      = f.text_field :word, class: 'form-control'
    .form-group
      = f.label :definition
      = f.text_field :definition, class: 'form-control'
    .actions
      = f.submit 'Save', class: 'btn btn-primary'
