%h1 Listing flashcards

%table
  %thead
    %tr
      %th Word
      %th Definition
      %th
      %th
      %th

  %tbody
    - @flashcards.each do |flashcard|
      %tr
        %td= flashcard.word
        %td= flashcard.definition
        %td= link_to 'Show', flashcard
        %td= link_to 'Edit', edit_flashcard_path(flashcard)
        %td= link_to 'Destroy', flashcard, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Flashcard', new_flashcard_path
